{% extends "layout.html" %}
{% block content %}
  <div class="container-fluid">
    <div class="row">
      <div >
        <div class="col-md-2 individual-name">
          <h1>
            <span class="firstInitialCircle"></span>
            <span class="individual-id-num">{{ participant.participant_code }}</span>
          </h1>
        </div>
        <div class="col-md-1">
          <input type="submit" class="btn btn-primary btn-xs btn-block edit-info-btn" value="Edit">
        </div>
      </div>
    </div>

    <div class="row individual-table-row">
      <div class="col-md-10">
        <table class="">
          <thead>
            <tr class="individual-info-header">
              <th>Date of Birth</th>
              <th>Current Residence</th>
              <th>Zip Code</th>
              <th>Last Visit</th>
              <th>Medical Expenses</th>
            </tr>
          </thead>
          <tbody>
            <tr class="individual-info">
              <td scope="row">1/02/1980 (37)</th>
                <td>Holland</td>
                <td>06010</td>
                <td>10/20/2017</td>
                <td>Medicare</td>
            </tr>
          </tbody>
          <thead>
            <tr class="individual-info-header">
              <th>No. of Dependents</th>
              <th>Race/Ethnicity</th>
              <th>Annual Income</th>
              <th>Mother's First Initial</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr class="individual-info">
              <td scope="row">3</th>
                <td>Other</td>
                <td>26,000</td>
                <td>Q</td>
                <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <!-- bottom grid nav and button -->
    <div class="row">
    <div class="container-fluid">
    <div class="flex flex-spread bottom-nav">
      <nav class="navbar navbar-default individual-nav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar1" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="index.html">Visits</a></li>
            <li><a href="index.html">Risk Assesments</a></li>
            <li><a href="dispenseorder.html">Dispense Reports</a></li>
            <li><a href="reversalreport.html">Reversal Reports</a></li>
          </ul>

        </div>
        <!--/.nav-collapse -->
        <!--/.container-fluid -->
      </nav>
        <input type="submit" class="btn btn-primary add-visit-btn" value="Add New Visit">
<!--       <button class="blue-button flex flex-center"> Add New Visit </button> -->
    </div>
    </div>
    </div>

    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>SC</th>
          <th>OD Kits</th>
          <th>ET 28g 1/2" 1cc</th>
          <th>ET 30g 5/16" 1cc</th>
          <th>BD/ET 27g 1/2" 1cc</th>
          <th>Total</th>
          <th>BD 1/2 cc</th>
          <th>3 cc </th>
          <th>Total</th>
          <th>SSE People</th>
          <th>Referral Notes</th>
        </tr>
      </thead>
      <tbody>
        <tr key="uniqueKey">
          <td> 11/01/2017 </td>
          <td> Yes </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 60 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 60 </td>
          <td> 00 </td>
          <td> Notes... </td>
        </tr>
        <tr key="uniqueKey2">
          <td> 11/01/2017 </td>
          <td> Yes </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 60 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 60 </td>
          <td> 00 </td>
          <td> Notes... </td>
        </tr>
        <tr key="uniqueKey3">
          <td> 11/01/2017 </td>
          <td> Yes </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 60 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 60 </td>
          <td> 00 </td>
          <td> Notes... </td>
        </tr>
        <tr key="uniqueKey4">
          <td> 11/01/2017 </td>
          <td> Yes </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 60 </td>
          <td> 00 </td>
          <td> 00 </td>
          <td> 60 </td>
          <td> 00 </td>
          <td> Notes... </td>
        </tr>
      </tbody>
    </table>
  </div>

{% endblock %}
