/**************VARIABLES*************/
body {
  font-family: 'Roboto', sans-serif; }

/******************* NAVIGATION *****************/
.navbar-brand img {
  position: relative;
  top: -10px;
  width: 130px;
  height: 45px; }

.navbar-default,
.navbar-nav li a {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #424242 !important; }

.navbar-nav li:hover {
  border-bottom-style: solid;
  border-width: 3px;
  font-weight: bold; }

/*************** Homepage Search *******************/
.codeSearch {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.87); }

.participantFindButton {
  position: relative;
  top: 22px; }
  @media (max-width: 972px) {
    .participantFindButton {
      top: 0px; } }

.headline {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #373a3c;
  margin-bottom: -8px; }

.gender-row {
  margin-top: 15px; }

hr {
  margin-bottom: 0; }

.infoFindButton {
  margin-bottom: 50px; }

/***************Visits Information Page********/
.individual-name h1 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.33; }
  .individual-name h1 .individual-id-num {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    color: #999999; }
  .individual-name h1 .edit-individual {
    padding-left: 15px;
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    color: #2196f3;
    text-decoration: underline; }

.individual-info-header > th {
  color: #9b9b9b;
  font-size: 14px;
  font-weight: 500; }

.individual-info > td {
  padding-bottom: 20px;
  font-size: 16px;
  font-weight: 400; }

.individual-table-row {
  background-color: #fafafa;
  border-top: solid 1px #efefef;
  border-bottom: solid 1px #efefef; }

table {
  border-style: none; }
  table tbody {
    margin-bottom: 30px; }
  table tr {
    height: 30px; }
    table tr th,
    table tr td {
      width: 15%; }

/**************** New Client Form *************/
.new-participant {
  margin-bottom: -15px;
  font-size: 24px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.87); }

.demographic-header {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.87); }

.residence {
  margin-bottom: 20px; }

.submit-intake-row {
  margin-top: 30px;
  margin-bottom: 30px; }

/*************** Risk Assessment Form ***********/
.risk-heading {
  margin-bottom: -15px;
  font-size: 24px;
  line-height: 1.33;
  color: rgba(0, 0, 0, 0.87); }

.drug-heading {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  color: rgba(0, 0, 0, 0.87); }
