<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,400i,500,700,900" rel="stylesheet">
     
    <title>Red Project Management || Add New Visit</title>

    <!-- Bootstrap -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/main.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href=""><img src="../images/logo.png" alt="Red Project Logo">
            </a>
          </div>
          <div id="navbar1" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="index.html">Participant Search</a></li>
              <li><a href="dispenseorder.html">Dispense Order</a></li>
              <li><a href="reversalreport.html">Reversal Report</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="">Login</a></li>
            </ul>
          </div>
          <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
      </nav>

      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <h1 class="new-participant">Add New Visit</h1>
          </div>
        </div>

        <div class='row'>
          <div class="col-md-12">
            <hr>   
          </div>
        </div>

        <div class="row">
          <div class="col-md-3 gender-row">
            <div class="form-group">
              <label  class="headline" for="overdoseDate">New Visit Date</label>
              <input type="date" class="form-control" id="newvisitDate">
            </div>
          </div> 
        </div>

          <div class="row ">
            <div class="form-group">
              <div class="col-md-10">
                <span class="headline">Safe Crack</span>
                <div class="checkbox">
                  <label><input type="checkbox" value="">Yes</label>
                </div>
              </div>
            </div>
          </div>   

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="headline" for="zipcode">Overdose Kits</label>
                <input type="number" class="form-control" id="overdoesKits">
              </div>
          </div> 
        </div>

        <div class="row ">
          <div class="form-group">
            <div class="col-md-10">
              <span class="headline">Do you want an HIV test?</span>
              <div class="checkbox">
                <label><input type="checkbox" value="">Yes</label>
              </div>
            </div>
          </div>
        </div>   

        <div class="row ">
          <div class="form-group">
            <div class="col-md-10">
              <span class="headline">Do you want a Hepatitis C test?</span>
              <div class="checkbox">
                <label><input type="checkbox" value="">Yes</label>
              </div>
            </div>
          </div>
        </div>   

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="headline" for="zipcode">ET 28g 1/2" 1cc</label>
                <input type="number" class="form-control" id="ET28">
              </div>
          </div> 
        </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="headline" for="zipcode">ET 30g 5/16" 1cc</label>
                <input type="number" class="form-control" id="ET30">
              </div>
          </div> 
        </div>


          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="headline" for="zipcode">BD/ET 27g 1/2" 1cc</label>
                <input type="number" class="form-control" id="BDET">
              </div>
          </div> 
        </div>


          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="headline" for="zipcode">BD 1/2cc</label>
                <input type="number" class="form-control" id="BD12">
              </div>
          </div> 
        </div>


          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="headline" for="zipcode">3cc</label>
                <input type="number" class="form-control" id="3cc">
              </div>
          </div> 
        </div>


          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="headline" for="zipcode">Other Syringes</label>
                <input type="number" class="form-control" id="syringes">
              </div>
          </div> 
        </div>


          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="headline" for="zipcode">Secondary Syringe Exchange (# of people)</label>
                <input type="number" class="form-control" id="overdoesKits">
              </div>
          </div> 
        </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="headline" for="referralnotes">Referral Notes</label>
                <textarea class="form-control" rows="5" id="referralnotes" name="referralnotes"></textarea>
              </div>
          </div> 
        </div>

          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label class="headline" for="generalnotes">General Notes</label>
                <textarea class="form-control" rows="5" id="generalnotes" name="generalnotes"></textarea>
              </div>
          </div> 
        </div>


          <div class="row">
            <div class="col-md-2">
              <div class="form-group">
                <label class="control-label headline" for="location">Location</label>
                    <select name="location" class="form-control" id="location">
                      <option value="" selected disabled hidden>Location</option>
                      <option>Boston Sq</option>
                      <option>Division and Burton</option>
                      <option>HeartSide</option>
                      <option>Madison and Hall</option>
                      <option>Stocking and 5th</option>
                      <option>Muskegon Outreach</option>
                      <option>Muskegon My Space</option>
                      <option>Other</option>
                    </select>
              </div>
            </div>
          </div> 

          
          <div class="row submit-intake-row">
            <div class="col-md-2">
              <input type="submit" class="btn btn-primary" value="Submit Button">
            </div>            
          </div>
        </form>     
      </div> <!--/.container -->



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../js/jquery/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/script.js"></script>

  </body>
