<div class="container-fluid participant-info">
    <div class="row">
        <div class="flex flex-spread bottom-nav">
            <div class="col-md-6 individual-name">
                <h1>Darth Vader
                    <span class="individual-id-num">TK421</span>
                </h1>
            </div>
            <button class="blue-button flex flex-center edit-button"> Edit </button>
        </div>

    </div>
    <div class="row individual-table-row">
        <div class="col-md-10">
            <table class="">
                <thead>
                    <tr class="individual-info-header">
                        <th>Date of Birth</th>
                        <th>Current Residence</th>
                        <th>Zip Code</th>
                        <th>Last Visit</th>
                        <th>Medical Expenses</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="individual-info">
                        <td scope="row">1/02/1980 (37)</th>
                            <td>Inquisitor</td>
                            <td>06010</td>
                            <td>10/20/2017</td>
                            <td>Imperial Health</td>
                    </tr>
                </tbody>
                <thead>
                    <tr class="individual-info-header">
                        <th>No. of Dependents</th>
                        <th>Race</th>
                        <th>Ethnicity</th>
                        <th>Annual Income</th>
                        <th>Mother's First Initial</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="individual-info">
                        <td scope="row">1/02/1980 (37)</th>
                            <td>Inquisitor</td>
                            <td>06010</td>
                            <td>10/20/2017</td>
                            <td>Imperial Health</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>